$black: #000000;
$white: #ffffff;
$primary: #3f88f8;
$success: #59933b;
$warning: #ffd358;
$danger: #d5431b;
$grey: #838d99;
$light-grey: #ccc;
$remove: #dc2626;
$blue-gray-500: #64748b;
$blue-gray-600: #475569;
$black: #000;
$secondary: #6c757d;
$info: #17a2b8;
$dark: #343a40;
$purple: #8e54e9;
$bluish-primary: linear-gradient(90deg, #4776e6 0%, $purple 100%);
$grey-100: #e5e5e5;
$blue-gray-200: #e2e8f0;
$blue-gray-500: #64748b;
